<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ABOUT</title>
    <style>
        h1{
            text-align: center;
        }
        h3{text-align:right;}
        pre{text-align:right;
        background-color: rgb(31, 145, 61);}
        li{background-color: rgb(237, 152, 95);}
    </style>
</head>
<body>
    <h1> TEAM LEARNERS </h1>
     <hr>
     <h2>
            TEAM MEMBERS
        </h2>
        <ul>
            <li> kunal kumar</li>
           <li>Raghav Rajawat</li>
           <li> Mo.Alizar</li> 
         </ul>
        <h3> ADDRESS </h3>
      <pre>   180, Shri Rampuri,  NH24,
        MEERUT Road
        GHAZIABAD  209001
        Contact No - 0123456789
        Email: XYZ@hospital.com 
       </pre>
</body>
</html>