<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form action="bills" method="post">
        {% csrf_token %}
        <label for="name">Patient Name:</label>
        <input type="text" name="name" id="name"> <br>

        <label for="room">Room Charges:</label>
        <input type="number" name="room" id="room"> <br>

        <label for="med">Medicines Charges:</label>
        <input type="med" name="med" id="med"> <br>

        <label for="other">Other Charges:</label>
        <input type="number" name="other" id="other"> <br>
        <button type="submit">Create Bills</button>
    </form>
</body>
</html>